@import url("footer.css");
@import url("media_bar.css");
@import url("fading.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --main-bg-color: rgb(40, 40, 40);
  --main-color: rgb(240, 240, 240);
  --secondary-color: rgb(200, 200, 200);
  --note-color: rgb(119, 125, 133);
  --warning-color: rgb(136, 139, 120);
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;

  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  color: var(--main-color);
  background-color: var(--main-bg-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: large;
}

@media (orientation: portrait) {
  main, header, footer {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (orientation: landscape) {
  main, header, footer {
    margin-left: 3em;
    margin-right: 3em;
  }
}

body a {
  color: inherit;
}

header{
  padding-top: 1.5em;
}

.inner-header {
  margin: 2em 0em 4em;
  text-align: center;
}

.inner-header h1{
  font-size: 2.5em;
}

.home-button{
  position: fixed;

  font-size: min(6.0vw, 2.5em);
  
  text-align: center;

  opacity: 0.6;

  bottom: 0.6em;
  left: 0.6em;

  transition-duration: 0.3s;
}

.home-button:hover {
  opacity: 1;
  transform: scale(1.5);
}

.home-button a{
  color: white;
  text-decoration: none;
}

.title, .button {
    font-weight: 300;
    letter-spacing: .2rem;
  }

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-note {
  color: var(--note-color) !important;
}