body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  color:rgb(240, 240, 240);
  background-color: rgb(40, 40, 40);

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.home-button{
  position: fixed;

  font-size: min(6.0vw, 2.5em);
  
  text-align: center;

  opacity: 0.6;

  bottom: 0.3em;
  left: 0.5em;

  transition-duration: 0.3s;
}

.home-button:hover {
  opacity: 1;
  transform: scale(1.5);
}

.home-button a{
  color: white;
  text-decoration: none;
}

.title, .button {
    font-weight: 300;
    letter-spacing: .2rem;
  }

.secondary-text {
  color:rgb(190, 190, 190)
}