.media-bar {
    font-size: min(6.0vw, 2.5em); 
}

.media-bar a {
    margin: 0 0 0.3em 0.3em;
    width: 2.0em;
    text-align: center;
    text-decoration: none;

    /*
    padding: 0.5em;
    border-radius: 50%;
    background: #55ACEE;
    */
    transition-duration: 0.3s;
}

.media-bar a:hover {
    opacity: 0.8;
    transform: scale(1.4);
}